<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /webbanhang/

    # Nếu request là file/thư mục thật thì bỏ qua
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Chuyển mọi request sang index.php
    RewriteRule ^(.*)$ index.php?page=$1 [L,QSA]
</IfModule>
