.user-sheet {
    position: fixed;
    top: 0;
    right: -100%; /* ban đầu ẩn hoàn toàn ngoài màn hình */
    width: 450px;
    height: 100vh;
    background-color: #fff;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1001;
    transition: right 0.4s ease-in-out;
    display: flex;
    flex-direction: column;
    border-radius: 8px 0 0 8px;
    overflow-y: auto;
}

.user-sheet.active {
    right: 0;
}

/* Nội dung bên trong sheet */
.user-sheet .modal-content {
    padding: 20px;
    position: relative;
}

/* Nút đóng */
.user-sheet .close {
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 22px;
    font-weight: bold;
    color: #aeaeae;
    cursor: pointer;
    transition: color 0.2s;
}

.user-sheet .close:hover {
    color: #000000;
}

/* Tiêu đề và mô tả */
.custom-sheet h3 {
    margin-top: 0;
    font-size: 20px;
    color: #222;
}

.user-sheet .description {
    color: #666;
    font-size: 14px;
    margin: 5px 0px 20px 0px;
}

/* --- Overlay --- */
.sheet-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    opacity: 0;
    pointer-events: none;
    z-index: 1000;
    transition: opacity 0.3s ease-in-out;
}

/* Khi bật thì overlay hiện ra */
.sheet-overlay.active {
    opacity: 1;
    pointer-events: all;
}